<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The blog</a> by <a href="http://www.facebook.com">Konicus</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %>
      </ul>
    </nav>
  </footer>
</div>